
html {
    scroll-behavior: smooth;
}
body {
    
    font-family: 'TenorSans' !important;
}
a {
  text-decoration: none !important;
}

@font-face {
    font-family: 'TenorSans';
    src: url('../fonts/TenorSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  } 
/* General Navbar Styling */

.navbar {
    font-family: 'TenorSans';
    padding: 1rem 1.5rem;
    transition: background-color 0.3s ease;
  }
  
  .navbar-light {
    background-color: rgba(255, 255, 255, 0.0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand {
    font-size: 1.8rem;
    color: #333;
  }
  
  .navbar-nav .nav-link {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin-right: 15px;
    transition: color 0.3s ease;
    text-transform: uppercase;
  }
  
  .navbar-nav .nav-link:hover {
    color: #c02c1b; /* Accent color */
  }
  
  .navbar-nav .nav-link.active {
    font-weight: bold;
    color: #c02c1b; /* Accent color for active link */
  }
  
  /* Add Sticky Transition */
  .navbar.scrolled {
    background-color: #000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  

  /* General Section Styles */

  
 /****footer*******/

 
 footer {
  padding-top: 100px;
  padding-bottom: 15px;
  background-position: 0 -36px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #000;
  position: relative;
  margin-top: 78px;
}
footer:before {
  background-image: url(../img/ft-bg.svg);
  content: "";
  position: absolute;
  top: -75px;
  width: 100%;
  height: 76px;
}
.footer-shape-1 {
  position: absolute;
  right: 24px;
  top: -52px;
  z-index: 0;
}
.footer-shape-1 img {
  animation-name: rotateme;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.footer-shape-3 {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateY(-15%) translateX(-50%);
  animation: animationFramesOne 10s infinite linear;
  opacity: 25%;
}
@keyframes animationFramesOne {
  0% {
    transform: translate(0, 0) scale(1);
    background-color: red;
  }
  25% {
    transform: translate(50px, 50px) scale(1.2);
    background-color: orange;
  }
  50% {
    transform: translate(100px, 0) scale(0.8);
    background-color: yellow;
  }
  75% {
    transform: translate(50px, -50px) scale(1.4);
    background-color: green;
  }
  100% {
    transform: translate(0, 0) scale(1);
    background-color: red;
  }
}

@keyframes rotateme {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
footer ul .nav-link
{
  color:#CDC4D9;
}
.newsletter-form .input-newsletter {
  display: block;
  width: 100%;
  background-color: #2E2141;
  border: 1px solid #2E2141;
  height: 65px;
  padding: 20px;
  border-radius: 15px;
  outline: 0;
  color: #CDC4D9;
  transition: var(--transition);
}
.newsletter-form button {
  border: none;
  width: 100%;
  border-radius: 15px;
  padding: 18.8px 35px;
  margin-top: 15px;
}
.default-btn {
  padding: 15.8px 35px;
  text-align: center;
  color: #000 !important;
  font-size: 16px;
  font-weight: 600;
  transition: .6s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  z-index: 0;
  background: radial-gradient(circle, #feb302, #f8c600, #eed900, #e0ec00, #cdff05);;
  box-shadow: none;
  overflow: hidden;
  white-space: nowrap;
}
.default-btn:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 550px;
  height: 550px;
  margin: auto;
  background-color: #feb302;
  border-radius: 50%;
  z-index: -1;
  transform-origin: top center;
  transform: translateX(-50%) translateY(-5%) scale(0.4);
  transition: transform 0.9s;
}
.widget-social li a i {
  color: #CDC4D9;
  display: inline-block;
  transition: var(--transition);
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50px;
  background-color: var(--black-color);
  border: 1px solid #A66BFF;
  font-size: 15px;
}
.widget-social li {
  display: inline-block;
  list-style-type: none;
  margin-right: 5px;
}

.copyright p {
  color: #CDC4D9;
  font-size: 16px;
  font-weight: 800;
  padding: 44px 0;
  margin-top: 61px;
  margin-bottom: 0;
  border-top: 1px solid #2E2141;
}

/********/
.bg-bectangle-top {
  position: relative;
}
.bg-bectangle-top:before {
  background-image: url(../img/ft-bg.svg);
  content: "";
  position: absolute;
  top: -75px;
  width: 100%;
  height: 76px;
}

.bg-bectangle-bottom {
  position: relative;
}

.bg-bectangle-bottom::after {
  background-image: url(../img/bg-bectangle-bottom.svg);
  content: "";
  position: absolute;
  bottom: -147px;
  width: 100%;
  height: 147px;
  left: 0;
}

.main-slides-area {
    background: #000;
    padding: 159px 0 0 0;
}
.main-slides-content {
  padding-right: 50px;
  margin-top: 70px;
}

.main-slides-content span {
  font-size: var(--font-size);
  font-weight: 600;
  color: #feb302;
  display: block;
  margin-bottom: 18px;
  font-family: var(--heading-font-family);
}

.main-slides-content h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0;
  color: #fff;
  position: relative;
}

.main-slides-content h1 .overlay {
  position: absolute;
  left: 0;
  top: 0;
  background: var(--btn-gradient-color);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.main-slides-content p {
  margin-top: 18px;
  margin-bottom: 0;
  color: #CDC4D9;
}

.main-slides-content .slides-btn {
  margin-top: 30px;
}

.main-slides-shape-1 {
  position: absolute;
  left: 50px;
  top: 65px;
  z-index: 1;
}
.main-slides-shape-1 img {
  animation-name: rotateme;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotateme {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* .main-slides-shape-2 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateY(-20%) translateX(-50%);
  z-index: 1;
  animation: moveleftbounce 2s linear infinite;
} */

.main-slides-shape-2 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateY(-11%) translateX(-50%);
  z-index: 1;
  animation: moveleftbounce 2s linear infinite;
}

@keyframes moveleftbounce {
  0%, 100% {
      transform: translateX(-40%) translateY(-25%);
  }
  50% {
      transform: translateX(-60%) translateY(-30%);
  }
}

.main-slides-shape-3 {
  position: absolute;
  bottom: 10%;
  right: 32%;
  transform: translateY(-10%) translateX(-32%);
  z-index: 1;
}
.main-slides-shape-3 img {
  animation-name: rotateme;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotateme {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
.main-slides-shape-4 {
  position: absolute;
  bottom: 10%;
  left: -18%;
  z-index: 1;
  transform: translateY(-10%) translateX(-20%);
  animation: moveleftbounce 1s linear infinite;
}
.main-slides-shape-4 img {
  width: 188px;
}
@keyframes moveleftbounce {
  0%, 100% {
      transform: translateY(-10%) translateX(-20%);
  }
  50% {
      transform: translateY(-15%) translateX(-25%);
  }
}

.main-slides-image  {
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  display: flex
;
}
.main-slides-image img {
  animation-name: moveDownContinuous;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  width: 285px;
  position: absolute;
}
@keyframes moveDownContinuous {
  from {
      transform: translateY(-5%);
  }
  to {
      transform: translateY(5%);
  }
}


.slides1 {
  opacity: 1;
}

.slides2 {
  opacity: 0;
}

/* On hover, hide slides1 and show slides2 */
.main-slides-bg:hover .slides1 {
  opacity: 0;
}

.main-slides-bg:hover .slides2 {
  opacity: 1;
}

/*********/


.wt-we-do {
  padding: 180px 0;
}
.wt-we-do-conten span{
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.13em;
  color: #173070;
}

.wt-we-do-conten h1 {
  font-size: 42px;
  color: #173070;
  font-weight: bold;
  margin: 33px 0;
  padding-right: 90px;
}

.wt-we-do-conten p {
  color: #A3A3A3;
  font-size: 17px;
  font-weight: 800;

}

/**************/

/*********/

.services {
  padding: 59px 0 0 0;
  background-color: #000;
}
.services-conten span{
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.13em;
  color: #fff;
}

.services-conten h1 {
  font-size: 42px;
  color: #fff;
  font-weight: bold;
  margin: 33px 0;
  padding-right: 30px;
}
.services-conten h1 b
{
  background: radial-gradient(circle, #a66bff, #c666ef, #dd62df, #ee61cf, #fb64bf);
  background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services-conten p {
  color: #fff;
  font-size: 17px;
  font-weight: 800;


}
.slick-center {
  /* transform: scale(1.2, 1.2);
  transform-origin: 50% 50%; */
  background-color: #fff;
}
.services-item {
  background-color: #2E2141;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 25px;
  position: relative;
  transition: .6s;
  margin: 0 7px;
}
.services-item .services-image {
  overflow: hidden;
  border-radius: 15px;
}
.services-item .services-image a img {
  border-radius: 15px;
  transition: .6s;
}
.services-item:hover .services-image a img {
  transform: scale(1.1);
  filter: blur(2px);
}

.services-content {
  padding: 30px 15px 20px;
}

.services-content h3 {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 15px;
}

.services-content h3 a {
  color: #FEB302;
}

.services-content p {
  color: #CDC4D9;
  margin-bottom: 0;
}

.services-content .services-btn {
  background: var(--btn-gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin-top: 20px;
  transition: 6s;
  position: relative;
}

.services-content .services-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 20px;
  height: 1.5px;
  background: var(--btn-gradient-color);
  transition: all ease 0.5s;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}


/*****/

/******/


.who-we-are {
  padding: 192px 0 116px 0;
  background-color: #FFFBFC;
}
.who-we-are-conten span{
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.13em;
  color: #173070;
}

.who-we-are-conten h1 {
  font-size: 42px;
  color: #173070;
  font-weight: bold;
  margin: 33px 0;
  padding-right: 90px;
}

.who-we-are-conten p {
  color: #A3A3A3;
  font-size: 17px;
  font-weight: 800;

}

/********/

/*****testimonials****/

.testimonials {
  padding: 56px 0 0 ;
  background-color: #000;
}
.testimonials-conten span{
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.13em;
  color: #fff;
}

.testimonials-conten h1 {
  font-size: 42px;
  color: #ddd;
  font-weight: bold;
  margin: 33px 0;
  padding-right: 90px;
}
.testimonials-conten h1 b {
  background: radial-gradient(circle, #a66bff, #c666ef, #dd62df, #ee61cf, #fb64bf);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.testimonials-conten p {
  color: #fff !important;
  font-size: 17px;
  font-weight: 800;

}
.testimonials-item .item-box {
  position: relative;
  border-radius: 15px;
  padding: 30px 30px 30px 155px;
  margin-bottom: 25px;
  transition: var(--transition);
}
.testimonials-item .item-box img {
  position: absolute;
  left: 30px;
  top: 28px;
  max-width: 100px;
  border-radius: 50%;
}
.testimonials-item .item-box p {
  margin-bottom: 15px;
  line-height: 1.8;
  color: #fff !important;
  font-weight: 500;
}
.testimonials-item .item-box h4 {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 500;
  color: #fff;
}


/******/
.blog-section {
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding-top: 160px;
  padding-bottom: 75px;
}
.blog-heading {
  max-width: 630px;
  margin: 0 auto 45px;
  text-align: center;
  position: relative;
}

.blog-heading  span {
  font-size: 15px;
  color: #173070;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 15px;
}
.blog-heading h2 {
  font-size: 42px;
  margin-bottom: 0;
  line-height: 1.4;
  position: relative;
  font-weight: 800;
}
.blog-heading h2 b {
  background: radial-gradient(circle,#a66bff,#c666ef,#dd62df,#ee61cf,#fb64bf);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blog-slides .blog-card {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0 10px;
}
.blog-card .blog-image {
  overflow: hidden;
  border-radius: 15px;
}
.blog-card .blog-image a {
  display: block;
}
.blog-card .blog-image a img {
  border-radius: 15px;
  transition: .6s;
  width: 100%;
}
.blog-card .blog-content .date {
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  padding: 12px 25px;
  border-radius: 50px;
  border: 1px solid #fff;
  box-shadow: 0 15px 35px rgb(0 0 0 / 14%);
  margin-bottom: 25px;
  color: #3e019a;
  transition: .6s;
}
.blog-card .blog-content h3 {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 10px;
  font-weight: 700;
}
.blog-card .blog-content h3 a {
  color: #000;
}

.blog-card .blog-content .blog-btn {
  background: radial-gradient(circle,#feb302,#f8c600,#eed900,#e0ec00,#cdff05);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  transition: .6s;
  position: relative;
  margin-top: 20px;
}



  